Django==5.0.6
djangorestframework==3.15.1
djangorestframework-simplejwt==5.3.1

# Database
psycopg[binary]==3.2.9

django-cors-headers==4.3.1
python-decouple==3.8
django-ratelimit==4.1.0

# Image Processing
Pillow==11.3.0

# MongoDB
pymongo==4.7.2

# API Documentation
drf-spectacular==0.27.2

# Excel
openpyxl==3.1.5

# Machine Learning
scikit-learn==1.7.0
pandas==2.3.1
numpy==2.3.1
joblib==1.5.1

# PDF Generation
reportlab==4.4.2

# OCR (Optional)
pytesseract==0.3.13